.colorBtn {
  position: relative;
  padding: 0.6em;
  font-size: 1.6rem;
  color: #fff;
  background-color: transparent;
  border: 0.5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.colorBtn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff66;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.8s;
}

.colorBtn:hover::before {
  clip-path: circle(100% at 50% 50%);
}

@media (min-width: 576px) {
  .colorBtn {
    padding: 0.7em;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .colorBtn {
    font-size: 2.2rem;
  }
}