:root {
  --main-color: #5dac5d;
  --focus-color: #098509;
}

.modal {
  display: inline-block;
  margin-bottom: 3em;
  padding: 2em 4em;
  background-color: #00000094;
  border-radius: 8px;
}

.modalItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalItems h2,
.input,
.button {
  color: #fff;
}

.modalItems h2 {
  text-align: center;
}

.input {
  margin: 1.5em 0;
  padding: 0.5em;
  font-size: 1.4rem;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 16px;
  outline-color: var(--focus-color);
}

.button {
  padding: 1em 2em;
  width: 60%;
  background-color: var(--main-color);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

.button:hover, 
.button:focus {
  background-color: var(--focus-color);
}

@media (min-width: 576px) {
  .modalItems h2 {
    font-size: 2rem;
  }

  .input {
    padding: 1em;
  }
}